
# nodejs
lineBot/node_modules
lineBot/token.json
googlesheetHandler/node_modules/
googlesheetHandler/package-lock.json
googlesheetHandler/token.json
googlesheetHandler/credentials.json
conversation/__pycache__/
node_modules
